# === Unity ===
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# === IDE ===
.vs/
.vsconfig
[Aa]ssets/Plugins/Editor/JetBrains*

# === Visual Studio / Rider ===
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.booproj

# === Misc ===
*.tmp
*.log
*.log.*
